// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tr-answers {
  background-color: #fff;
  transition: background-color 1000ms linear;
}

.just-loaded {
  background-color: #ffe8d2;
}
