// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.emoji {
  height: 1.2em;
  width: 1.2em;
  margin: 0 1px;
}
