<% size ||= :small %>
<% if size == :large %>
  <% if user.is_teacher? || user.is_admin? %>
    <span class="avatar-big avatar-teacher">
  <% else %>
    <span class="avatar-big">
  <% end %>
<% else %>
  <% if user.is_teacher? || user.is_admin? %>
    <span class="avatar avatar-teacher">
  <% else %>
    <span class="avatar">
  <% end %>
<% end %>
    <% if user.profile.present? && user.profile.avatar.present? %>
      <%= link_to image_tag(user.profile.avatar.url(size)), controller: :profiles, action: :show, id: user.profile.id %>
    <% else %>
      <%= gravatar_image_tag(user.email) %>
    <% end %>
</span>
